

<div id="home-header">
    <p class="home-heading ">Best Tweet</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">

            <div class="well well-lg custom-panel">
                Something is not right. Go back <a href="/web/home">Home</a>
            </div>



        </div>
    </div>

</div>
